{% extends "base.html" %}

{% block content %}
		<h1>{{restaurant.name}} - <small>{{status}}</small></h1>
		<h3>Current Time: {{now}}</h3>
		<p>
			{{restaurant.description}}
		</p>
		<ul>
			<li>Opening Time:{{restaurant.opening_time}}</li>
			<li>Closing Time:{{restaurant.closing_time}}</li>
			{% if restaurant.logo %}
				<li><img class="card-img-top" src="{{restaurant.logo.url}}" alt="Card image cap"></li>
			{% endif %}
		</ul>
		{% for item in items %}
			{{item.name}} <br>
			{{item.price}} <br>
		{% endfor %}
{% endblock content %}